
@{
    ViewBag.Title = "ListNotEmpty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<font color="red"><h2> Error trying to Delete Store</h2></font>
<br /><br />
<p style="font-size:x-large">
    <b>
        The Kiosk list was <u>NOT</u> empty.
        <br /><br />
        @Html.ActionLink(" Back to Customer list", "Index", "Home")
    </b>
</p>

