<br />
@{
    ViewBag.Title = "About";
}
<br />

<h2>@ViewBag.Title.</h2>
<br />

<p class="lead">
    This application is a tracker for all Acrelec Customer stores and Kiosks.<br />It allows for easy <b>
        Creation, Update, Edit and Deletion </b> of information<br />for the Customer's Stores and the Kiosks associated with each store.<br /><br />
</p>


