<br />
@{
    ViewBag.Title = "About";
}
<br />

<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@
<br />

<p class="lead">
    This application will allow for easy creation, update, edit and deletion<br /> of information
    for stores and the kiosks associated with each store.<br />
    It will eventually cover all customers and a list of their kiosks and  also drive throughs<br /><br />
    At the moment this application just covers KFC.
</p>

