<br />
@{
    ViewBag.Title = "About";
}
<br />

<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@
<br />

<p class="lead">
    This application will allow for easy creation, update, edit and deletion<br /> of information
    for stores and the kiosks associated with each store.
    It will eventually cover all customers and drive through  at the moment it just covers 
    KFC. 
</p>

