@{
    ViewBag.Title = "Contact";
}
<br />
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    East Wing Focus 31<br />
    Mark Road<br />
    Hemel Hempstead HP2 7BW<br />
    <abbr title="Phone">P:</abbr>
    0845 643 6453
</address>


<address>
    <strong>Support:</strong><a href="mailto:thomas.donkor@acrelec.co.uk">Application Support</a><br />

</address>