@model IEnumerable<StoreKiosksMVC.Models.Customers>

@{
    ViewBag.Title = "Kiosk Tracker";
}

<div class="jumbotron">

    <h2><b>Acrelec Customer Kiosk Tracker</b></h2>
</div>
<div>
    <h2>Customer List</h2>
    <br />
    <div style="overflow:auto; height:340px;">
        <table class="table table-striped" style="font-size:large">

            @foreach (var item in Model)
            {
                <tr>
                    <td>

                        @Html.ActionLink(item.Customer, "Index", "Stores", new { cust = item.Customer }, null)
                    </td>
                    <td>
                        @*@Html.ActionLink("Edit Customer", "Edit", new { id = item.Id }) |*@
                        @Html.ActionLink("Delete Customer", "Delete", new { id = item.Id })
                    </td>
                </tr>

            }

        </table>
    </div>
</div>

<div class="row" style="font-size:large">
    <div class="col-md-4">
        <br />
        <b>@Html.ActionLink("Add a new Customer", "Create")</b>
    </div>

</div>
